<!DOCTYPE html>
<html>
<head>
    <title>word vibe</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='c.css') }}">
</head>
<body Background="{{ url_for('static', filename='close.jpg') }}">
    <script src="{{ url_for('static', filename='j.js') }}"></script>

    <div class="container">
        <h1>Translate Your Speech</h1>
        <form action="/translate" method="post">
            <label for="input_lang">Input Language:</label>
            <select id="input_lang" name="input_lang">
                <option value="en">English</option>
                <option value="hi">Hindi</option>
                <option value="es">Spanish</option>
                <option value="fr">French</option>
                <option value="de">German</option>
                <option value="it">Italian</option>
                <option value="kn">Kannada</option>
            </select>

            <br><br>
            <label for="output_lang">Output Language:</label>
            <select id="output_lang" name="output_lang">
                <option value="en">English</option>
                <option value="hi">Hindi</option>
                <option value="es">Spanish</option>
                <option value="fr">French</option>
                <option value="de">German</option>
                <option value="it">Italian</option>
                <option value="kn">Kannada</option>
            </select>

            <br><br>
            <button type="submit">Translate</button>
        </form>

        <h2>Translation History</h2>
        <ul>
            {% for translation in translations %}
            <li>{{ translation }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>